:root {
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-left: 3%;
}

.navBar {
  width: 100%;
  background: #1E201E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navBar ul {
  color: white;
  list-style: none;
  display: flex;
  margin-right: 3%;
}

.navBar ul li {
  padding-right: 30px;
}

.navBar ul.open {
  display: flex;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
}

.active {
  background-color: #434242;
  padding: 10px;
  border-radius: 3px;
}

.cart_container {
  position: relative;
  display: inline-block;
  margin-right: 10%;
}

.cart_count {
  position: absolute;
  margin-left: 20px;
  left: 0;
  top: 8px;
  right: 0px;
  background-color: #F45050;
  color: white;
  font-weight: 400;
  border-radius: 50%;
  padding: 5px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}


.navBar .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

.fa-cart-shopping {
  color: white;
  font-size: 20px;
}

.heading_one {
  text-align: center;
  margin-top: 5%;
}


/*---------------------SEARCH BAR-----------------*/
.search_form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.search_input {
  width: 400px;
}

.fa-magnifying-glass {
  font-size: 20px;
}

.drop_down {
  position: absolute;
  background-color: #686464;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  width: fit-content;
  border: 1px solid #ccc;
}

.drop_down_row {
  padding: 10px;
  cursor: pointer;

}

.drop_down_row:hover {
  background-color: #434242;

}

/*-----------------------STYLE FOR SHOPPING CART-------------------*/

.wrapper {
  max-width: 1500px;
  margin: 0, auto;
}

.item_container {
  margin: 20px;
}

.items {
  padding: 20px;
  border-bottom: 1px solid #434242;
  margin-left: 3%;
  margin-right: 3%;
}

.item_photo {
  height: 50px;
  width: 50px;
  padding-bottom: 5px;
}

.item_photo img {
  height: 50px;
  width: 50px;
  margin-top: 30px;
  margin-left: 60%;

}

.minus_btn {
  background-color: #fff;
  font-weight: normal;
  margin-left: 7%;
  color: #1E201E;
  border: 1px solid #1E201E;
  border-radius: 50%;
  padding: 7, 7, 7, 7;
}

.plus_btn {
  background-color: #fff;
  font-weight: normal;
  margin-left: 5px;
  color: #1E201E;
  border: 1px solid #1E201E;
  border-radius: 50%;
  padding: 7, 7, 7, 7;
}

.checkout_btn {
  background-color: white;
  border-radius: 0;
  border: 2px solid #2B2B2B;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  color: #1E201E;
}

/*--------------------FOR CHECK OUT SUCCESS DIALOUGE BOX--------------------*/

.checkout_dialog_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.checkout_dialog {
  background: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

.close_btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1E201E;
  color: white;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.close_btn:hover {
  background-color: #434242;
}

.home_btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #1E201E;
  color: white;
  border: none;
  cursor: pointer;
  font-family: inherit;
  margin-left: 10px;
}

.home_btn:hover {
  background-color: #434242;
}

/*------------STYLING FOR PRODUCT CARDS ON HOME PAGE-------------------------------*/
.card_container {
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
  padding: 30px;
}

.product_img {
  height: 220px;
  width: 230px;
}

.product_title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.product_price {
  font-size: 15px;
}

.product_card {
  align-items: center;
  justify-content: center;
  border: #434242;
  box-shadow: 3px 3px 3px #acaaaa;
  border-radius: 7px;
  padding: 20px;
  margin-left: 6%;
  margin-bottom: 5%;
  text-align: center;
  width: 250px;
  height: 380px;
  gap: 30px;
  transition: 0.3s;
}

.product_card p {
  margin: 3px;
}

.old_price {
  font-size: 14px;
}

.discount_price {
  color: #F45050;
  font-size: smaller;
  font-weight: bold;
}

.discount_percentage {
  color: #F45050;
  font-size: 14px;
}

.product_card:hover {
  transform: translate(0px, -8px);
}

.view_btn {
  color: #1E201E;
  border: 2px solid #2B2B2B;
  padding: 7px;
  background-color: white;
  font-family: inherit;
  font-weight: 500;
}

.star-rating {
  --star-size: 1.2rem;
  --star-color: lightgray;
  --star-background: gold;
  font-size: var(--star-size);
  line-height: 1;
  padding-bottom: 10px;
}

.star-rating::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) calc(var(--rating) / 5 * 100%), var(--star-color) calc(var(--rating) / 5 * 100%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}

/*---------------------------STYLE FOR SINGLE PRODUCT PAGE-----------------------*/
.product_container {
  display: flex;
  gap: 30px;
  margin-left: 6%;
  margin-top: 5%;
}

.product_detail {
  padding-right: 20px;
}

.product_image img {
  height: 500px;
  width: 450px;
}

.add_btn {
  height: 35px;
  width: 130px;
  background: transparent;
  border: 2px solid #1E201E;
  color: #1E201E;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.fa-star {
  font-size: 13px;
  padding: 5px;
}

.reviews_section {
  margin-left: 6%;
}

.review {
  color: #2B2B2B;
  font-size: 15px;
}

.no_review {
  color: #2B2B2B;
}

/*-------------------FOOTER STYLING PAGE----------------------*/
.footer {
  margin-top: 50%;
  padding: 10px;
  background: #434242;
  color: white;
  text-align: center;
}

.footer_text {
  font-weight: normal;
  font-size: 16px;
}

/*----------------------------CONTACT PAGE CSS-------------------------*/
.form-container {
  height: 120vh;
  padding-top: 5px;
  padding-bottom: 10%;
}

form {
  max-width: 550px;
  width: 100%;
  background: white;
  margin: 17vh auto 0 auto;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0;
}

h1 {
  margin: 0;
  text-align: center;
}

label {
  display: block;
  margin: 20px 0;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #2B2B2B;
}

input[type="text"]:focus,
textarea:focus {
  border-bottom: 1px solid #434242;
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #B3C890;
}

.button {
  text-align: center;
  margin-top: 3%;
  border-radius: none;
}

input[type="submit"] {
  border-bottom: none;
  border-radius: none;
}

input[type="submit"] {
  top: 30px;
  width: 90%;
  max-width: 200px;
  border: 2px solid #1E201E;
  background: white;
  color: #1E201E;
  font-size: 17px;
  cursor: pointer;
}

input[id] {
  font-family: "Montserrat", sans-serif;
}

textarea {
  font-family: "Montserrat", sans-serif;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
}

textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

input[value] {
  font-family: "Montserrat", sans-serif;
}

.error_message {
  font-size: 14px;
  color: #F45050;
  margin-top: 3px;
}

/*-------------------------------MEDIA QUERY--------------------------*/
@media only screen and (max-width:480px) {

  .logo {
    font-size: 24px;
    margin-top: 10px;
  }

  .cart_container {
    margin-left: 70%;
    margin-top: 0;
    margin-bottom: 20px;
    display: inline-block;
  }

  .navBar .menu {
    display: flex;
  }

  .navBar .menu {
    height: 20px;
    width: 25px;
    margin-top: 10px;
    margin-right: 20px;
  }

  .navBar .menu .line {
    height: 4px;
    width: 28px;
  }

  .navBar {
    flex-direction: column;
    align-items: start;
  }

  .navBar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .navBar ul li {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }

  .navBar ul {
    padding-left: 0;
    padding-bottom: 30px;
  }

  .navBar ul li a {
    margin: 0.2rem 0.5rem;
  }

  .search_form {
    margin-top: 0;
  }

  .product_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product_image img {
    height: 300px;
    width: 280px;
    margin-top: 20px;
  }

  .product_detail {
    padding: 30px;
  }

  .item_photo img {
    height: 50px;
    width: 50px;
    margin-top: 0;
    margin-left: 40%;
  }

  .reviews_section {
    padding: 50px;
    margin-left: 0;
  }

  .minus_btn {
    padding: 5, 5, 5, 5;
  }

  .plus_btn {
    padding: 5, 5, 5, 5;
  }

}