:root {
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.navBar {
  width: 100%;
  background: #1E201E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
}

.navItem {
  color: white;
  list-style: none;
  display: flex;

}

.navItem li {
  padding-right: 30px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
}

.fa-cart-shopping {
  color: white;
  font-size: 20px;
}

.heading1 {
  text-align: center;
  margin-top: 5%;
}

.footer {
  margin-top: 50%;
  padding: 10px;
  background: #434242;
  color: white;
  text-align: center;
}

.footer_text {
  font-weight: normal;
  font-size: 16px;
}