:root {
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-left: 3%;
}


.navBar {
  width: 100%;
  background: #1E201E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
}

.navBar ul {
  color: white;
  list-style: none;
  display: flex;
  margin-right: 3%;
}

.navBar ul li {
  padding-right: 30px;
}

.navBar ul.open {
  display: flex;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
}

.active {
  background-color: #434242;
  padding: 10px;
  border-radius: 3px;
}

.navBar .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}


.navBar .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

.fa-cart-shopping {
  color: white;
  font-size: 20px;
}

.heading_one {
  text-align: center;
  margin-top: 5%;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  margin: 3%;
  padding: 30px;
}

.product_img {
  height: 180px;
  width: 200px;
  margin: 1rem;
  border: 1px #1E201E;
}

.product_card {
  align-items: center;
  justify-content: center;
  border: #434242;
  box-shadow: 3px 3px 3px #acaaaa;
  border-radius: 7px;
  padding: 20px;
  margin-left: 6%;
  text-align: center;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.fa-star {
  font-size: 13px;
  padding: 5px;
}

.add_button {
  height: 35px;
  width: 130px;
  background: transparent;
  border: 2px solid #1E201E;
  color: #1E201E;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.footer {
  margin-top: 50%;
  padding: 10px;
  background: #434242;
  color: white;
  text-align: center;
}

.footer_text {
  font-weight: normal;
  font-size: 16px;
}

/*----------------------------CONTACT PAGE CSS-------------------------*/

.form-container {
  height: 120vh;
  padding-top: 5px;
  padding-bottom: 10%;
}

form {
  max-width: 550px;
  width: 100%;
  background: white;
  margin: 17vh auto 0 auto;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0;
}

h1 {
  margin: 0;
  text-align: center;
}

label {
  display: block;
  margin: 20px 0;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #2B2B2B;
}

input[type="text"]:focus,
textarea:focus {
  border-bottom: 1px solid #434242;
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #B3C890;
}

.button {
  text-align: center;
  margin-top: 3%;
}

input[type="submit"] {
  border-bottom: none;
}

input[type="submit"] {
  top: 30px;
  width: 90%;
  max-width: 200px;
  border: 2px solid #1E201E;
  background: white;
  color: black;
  font-size: 17px;
  cursor: pointer;
}

input[id] {
  font-family: "Montserrat", sans-serif;
}

textarea {
  font-family: "Montserrat", sans-serif;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
}

textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

input[value] {
  font-family: "Montserrat", sans-serif;
}

/*
.form-errors {
  font-size: 13px;
  color: #F45050;
  margin-top: 3px;
  display: none;
}

.success {
  color: #508D69;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3%;
  display: none;
}

.warn {
  color: #F45050;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3%;
  display: none;
  padding-top: 3px;
}
*/


/*-------------------------------MEDIA QUERY--------------------------*/
@media only screen and (max-width:480px) {
  .navBar .menu {
    display: flex;
  }

  .navBar .menu {
    height: 23px;
    width: 30px;
  }

  .navBar .menu .line {
    height: 4px;
    width: 28px;
  }

  .navBar {
    flex-direction: column;
    align-items: start;
  }

  .navBar ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  .navBar ul li {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }

  .navBar ul {
    padding-left: 0;
    padding-bottom: 30px;
  }

  .navBar ul li a {
    margin: 0.2rem 0.5rem;

  }
}

@media only screen and (max-width:853px) {}